@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-primary: #3B82F6;
  --color-accent: #F87171;
  --color-success: #34D399;
  --color-background: #F3F4F6;
  --color-card-background: #FFFFFF;
  --color-text-primary: #1F2937;
  --color-text-secondary: #4B5563;
  --color-text-on-primary: #FFFFFF;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  *{
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
}
